img {
  width: 400px;
}
#mansion1, #mansion2 {
  display: none;
}

div {
  margin: 1rem;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.original {
  background-color: papayawhip;
  color: rebeccapurple;
}

button {
  padding: 10px;
  margin: 10px;
}

#darkScheme {
  background-color: black;
  color: white;
}

#lightScheme {
  background-color: white;
  color: black;
}

#originalScheme {
  background-color: papayawhip;
  color: rebeccapurple;
}
